<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>搜索页面</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" href="../res/layui/css/layui.css">
  <link rel="stylesheet" href="../res/css/global.css">
</head>
<body>

<div class="header">
  <div class="main">
    <a class="logo" href="javascript:void(0);" title=""></a>

    <div class="nav">
      <a href="javascript:void(0);">前端</a>
      <a href="javascript:void(0);">后台</a>
    </div>

    <div class="nav-user ">
      <form class="layui-form fly-article-search" action="" >
        <div class="layui-input-inline">
          <div class="layui-input-inline">
            <input type="text" name="data" required lay-verify="required" placeholder="搜索···" autocomplete="off" class="layui-input" />
          </div>
          <!--<div class="layui-input-inline">
            <button class="layui-btn layui-btn-normal layui-icon" lay-submit>&#xe615;</button>
          </div>-->
        </div>
      </form>
      <!-- 未登入状态 -->
      <!--<span><a href="user/login.html">登入</a><a href="user/reg.html">注册</a></span>-->

      <!-- 登入后的状态 -->
      <!--<a class="avatar" href="user.html">
        <img src="http://tp4.sinaimg.cn/1345566427/180/5730976522/0">
        <cite>贤心</cite>
        <i>VIP2</i>
      </a>-->
    </div>
  </div>
</div>

<div class="main layui-clear">
  <div class="wrap">
    <div class="content" style="margin-right:0">
      <!-- <div class="fly-tab">
        <span>
          <a href="" class="tab-this">全部</a>
          <a href="">未结帖</a>
          <a href="">已采纳</a>
          <a href="">精帖</a>
          <a href="../user/index.ftl">我的帖</a>
        </span>
        <form action="http://cn.bing.com/search" class="fly-search">
          <i class="iconfont icon-sousuo"></i>
          <input class="layui-input" autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="q">
        </form>
        <a href="add.html" class="layui-btn jie-add">发布问题</a>
      </div> -->
    
      <ul class="fly-list">

        <li class="fly-list-li">
          <a href="user/home.html" class="fly-list-avatar">
            <img src="../res/images/fly.jpg" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="./detail.html">基于 layui的轻量级问答社区页面模版 V2版本</a>
          </h2>
          <div class="fly-badge">
            <span class="layui-badge layui-bg-black">精贴</span>
            <span class="layui-badge layui-bg-red">置顶</span>
          </div>
          <div class="fly-content-text">我这里是内容,你不服?我这里是内容,你不服?我这里是内容,你不服?我这里是内容,你不服?我这里是内容,你不服?我这里是内容,你不服?我这里是内容,你不服?我这里是内容,你不服?</div>
          <p class="layui-elip">
            <span><i class="layui-icon">&#xe612;</i> <a href="user/home.html">贤心</a></span>
            <span><i class="layui-icon">&#xe62d;</i> 刚刚</span>
            <span><i class="layui-icon">&#xe857;</i> 前端</span>
          <span class="fly-list-hint">
            <i class="layui-icon" title="人气">&#xe756;</i> 6830
            <i class="iconfont" title="回答">&#xe60c;</i> 317
          </span>
          </p>
        </li>
        

        <li class="fly-list-li">
          <a href="user/home.html" class="fly-list-avatar">
            <img src="../res/images/fly.jpg" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="./detail.html">基于 layui的轻量级问答社区页面模版 V2版本</a>
          </h2>
          <div class="fly-badge">
            <span class="layui-badge layui-bg-black">精贴</span>
            <span class="layui-badge layui-bg-red">置顶</span>
          </div>
          <div class="fly-content-text">我这里是内容,你不服?我这里是内容,你不服?我这里是内容,你不服?我这里是内容,你不服?我这里是内容,你不服?我这里是内容,你不服?我这里是内容,你不服?我这里是内容,你不服?</div>
          <p class="layui-elip">
            <span><i class="layui-icon">&#xe612;</i> <a href="user/home.html">贤心</a></span>
            <span><i class="layui-icon">&#xe62d;</i> 刚刚</span>
            <span><i class="layui-icon">&#xe857;</i> 前端</span>
          <span class="fly-list-hint">
            <i class="layui-icon" title="人气">&#xe756;</i> 6830
            <i class="iconfont" title="回答">&#xe60c;</i> 317
          </span>
          </p>
        </li>

        <!-- <li class="fly-list-li">
          <a href="user/home.html" class="fly-list-avatar">
            <img src="http://tp4.sinaimg.cn/1345566427/180/5730976522/0" alt="">
          </a>
          <h2 class="fly-tip">
            <a href="jie/detail.html">基于Layui的轻量级问答社区页面模版</a>
            <span class="fly-tip-stick">置顶</span>
            <span class="fly-tip-jing">精帖</span>
          </h2>
          <p>
            <span><a href="user/home.html">贤心</a></span>
            <span>刚刚</span>
            <span>layui框架综合</span>
            <span class="fly-list-hint"> 
              <i class="iconfont" title="回答">&#xe60c;</i> 317
              <i class="iconfont" title="人气">&#xe60b;</i> 6830
            </span>
          </p>
        </li> -->

      </ul>
      
      <!-- <div class="fly-none">并无相关数据</div> -->
    
      <div style="text-align: center">
        <div class="laypage-main"><span class="laypage-curr">1</span><a href="/jie/page/2/">2</a><a href="/jie/page/3/">3</a><a href="/jie/page/4/">4</a><a href="/jie/page/5/">5</a><span>…</span><a href="/jie/page/148/" class="laypage-last" title="尾页">尾页</a><a href="/jie/page/2/" class="laypage-next">下一页</a></div>
      </div>
      
    </div>
  </div>
</div>

<div class="footer">
  <p>
    <a href="http://fly.layui.com/" target="_blank">layui</a>
    <a href="http://layim.layui.com/" target="_blank">layim</a>
    <a href="http://layer.layui.com/" target="_blank">layer</a>
  </p>
  <p><a href="http://blog.vip-admin.com/" target="_blank">博客</a> 2017 &copy; <a href="https://www.vip-admin.com/" target="_blank">vip-admin.com</a></p>
</div>

<script src="../res/layui/layui.js"></script>
<script>
layui.config({
  version: "2.0.0"
  ,base: '../res/mods/'
}).extend({
  fly: 'index.ftl'
}).use('fly');
</script>
</body>
</html>