<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../res/layui/css/layui.css">
    <link rel="stylesheet" href="../res/css/global.css">
</head>
<body style="margin-top: 65px;">

<div class="header">
    <div class="main">
        <a class="logo" href="javascript:void(0);" title=""></a>

        <div class="nav">
            <a href="javascript:void(0);">前端</a>
            <a href="javascript:void(0);">后台</a>
        </div>

        <div class="nav-user ">
            <form class="layui-form fly-article-search" action="" >
                <div class="layui-input-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="data" required lay-verify="required" placeholder="搜索···" autocomplete="off" class="layui-input" />
                    </div>
                    <!--<div class="layui-input-inline">
                      <button class="layui-btn layui-btn-normal layui-icon" lay-submit>&#xe615;</button>
                    </div>-->
                </div>
            </form>
            <!-- 未登入状态 -->
            <!--<span><a href="user/login.ftl">登入</a><a href="user/reg.html">注册</a></span>-->

            <!-- 登入后的状态 -->
            <!--<a class="avatar" href="user.html">
              <img src="http://tp4.sinaimg.cn/1345566427/180/5730976522/0">
              <cite>贤心</cite>
              <i>VIP2</i>
            </a>-->
        </div>
    </div>
</div>

<div class="fly-home">
    <img src="../res/images/avatar/default.png">
    <h1>
        某某某
        <i class="iconfont icon-nan"></i>
        <i class="iconfont icon-nv"></i>

        <!--<span style="color:#c00;">（超级码农）</span>
        <span style="color:#5FB878;">（活雷锋）</span>
        <span>（该号已被封）</span>-->
    </h1>
    <p class="fly-home-info">
        <i class="layui-icon">&#xe637;</i><span>2000-00-00</span>
        <i class="layui-icon">&#xe715;</i><span>来自地球</span>
    </p>
    <p class="fly-home-sign">···</p>
</div>

<div class="main fly-home-main">
    <div class="layui-inline fly-home-jie">
        <div class="fly-panel">
            <h3 class="fly-panel-title">某某某 最近的文章</h3>
            <ul class="jie-row">
                <li>
                    <span class="layui-badge-rim layui-bg-red">精</span>
                    <a href="detail.html" class="jie-title">浏览器收藏栏之我的最爱</a>
                    <i>1天前</i>
                    <em>1136阅/27答</em>
                </li>
                <li>
                    <a href="detail.html" class="jie-title">浏览器收藏栏之我的最爱</a>
                    <i>1天前</i>
                    <em>1136阅/27答</em>
                </li>
                <li>
                    <a href="detail.html" class="jie-title">浏览器收藏栏之我的最爱</a>
                    <i>1天前</i>
                    <em>1136阅/27答</em>
                </li>
            </ul>
            <!--<div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><i style="font-size:14px;">没有发布任何文章</i></div>-->
        </div>
    </div>

    <div class="layui-inline fly-home-da">
        <div class="fly-panel">
            <h3 class="fly-panel-title">某某某 最近的回答</h3>
            <ul class="home-jieda">
                <li>
                    <p>
                        <span>1分钟前</span>
                        在<a href="" target="_blank">tips能同时渲染多个吗?</a>中回答：
                    </p>
                    <div class="home-dacontent">
                        尝试给layer.photos加上这个属性试试：
                        <pre>
                        full: true
                        </pre>
                        文档没有提及
                    </div>
                </li>
            </ul>
            <!-- <div class="fly-none" style="min-height: 50px; padding:30px 0; height:auto;"><span>没有回答任何问题</span></div> -->
        </div>
    </div>

</div>

<div class="footer">
    <p>
        <a href="http://fly.layui.com/" target="_blank">layui</a>
        <a href="http://layim.layui.com/" target="_blank">layim</a>
        <a href="http://layer.layui.com/" target="_blank">layer</a>
    </p>
    <p><a href="http://blog.vip-admin.com/" target="_blank">博客</a> 2017 &copy; <a href="https://www.vip-admin.com/" target="_blank">vip-admin.com</a></p>
</div>

<script src="../res/layui/layui.js"></script>
<script>
layui.config({
    version: "2.0.0"
    , base: '../res/mods/'
}).extend({
    fly: 'index.ftl'
}).use('fly');
</script>

</body>
</html>